@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  min-width: 375px;
}

body {
  width: 375px;
  height: 845px;
}
body header picture img {
  width: 100%;
}

.article-wrapper {
  margin: 2.5rem 1.5rem;
}

.text-wrapper h1 {
  margin: 0;
  margin-bottom: 2rem;
  font-size: 2.5rem;
  font-weight: 700;
}
.text-wrapper p {
  margin-bottom: 2rem;
}
.text-wrapper ul {
  list-style: none;
}
.text-wrapper ul li {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.text-wrapper ul li img {
  margin-right: 1rem;
}
.text-wrapper ul li p {
  margin-bottom: 1rem;
  line-height: 1.5rem;
}

.form-wrapper form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}
.form-wrapper form div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 14px;
}
.form-wrapper form div label {
  font-weight: 700;
}
.form-wrapper form div span {
  color: hsl(4, 100%, 67%);
}
.form-wrapper form input {
  padding: 1rem;
  cursor: pointer;
  border-radius: 0.625rem;
  border: none;
}
.form-wrapper form input[type=email] {
  border: solid 1px hsl(231, 7%, 60%);
}
.form-wrapper form input[type=submit] {
  font-weight: 700;
  color: hsl(0, 0%, 100%);
  background-color: hsl(235, 18%, 26%);
}
.form-wrapper form input[type=submit]:hover {
  background-image: linear-gradient(to right, hsl(345.78, 100%, 66.08%), hsl(14.62, 100%, 61.37%));
}

.confirmation-page {
  margin: 9.3125rem 1.5rem 2.5rem 1.5rem;
}
.confirmation-page img {
  width: 64px;
  height: 64px;
  margin-bottom: 0.4rem;
}
.confirmation-page h1 {
  font-weight: 700;
  font-size: 2.45rem;
}
.confirmation-page p {
  font-size: 1.125rem;
  line-height: 1.5rem;
}
.confirmation-page button {
  margin-top: 100%;
  width: 100%;
  padding: 1rem;
  border-radius: 0.625rem;
  background-color: hsl(235, 18%, 26%);
  color: hsl(0, 0%, 100%);
  border: none;
  font-weight: 700;
}
.confirmation-page button:hover {
  background-image: linear-gradient(to right, hsl(345.78, 100%, 66.08%), hsl(14.62, 100%, 61.37%));
}

@media screen and (min-width: 1440px) {
  body {
    width: auto;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(234, 29%, 20%);
  }
  main {
    background-color: hsl(0, 0%, 100%);
    width: 928px;
    padding: 1.5rem;
    display: flex;
    flex-direction: row-reverse;
    gap: 3rem;
    border-radius: 2rem;
  }
  .article-wrapper {
    margin-left: 3rem;
  }
  .confirmation-page {
    margin: auto;
    width: 31.5rem;
    height: 32.5rem;
    padding: 3rem;
    background-color: hsl(0, 0%, 100%);
    border-radius: 2rem;
  }
  .confirmation-page h1 {
    font-size: 3.45rem;
    margin: 1.6rem 0;
  }
  .confirmation-page p {
    margin-bottom: 2rem;
  }
  .confirmation-page button {
    margin-top: auto;
    padding: 1.17rem;
  }
}/*# sourceMappingURL=style.css.map */